{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="row bg-trans-white float-lg-start index-section font-white">
    <div class="col-lg-7 mb-3">
        <h1 class="font-brown mb-3 display-3">
            {% trans "Sign In" %}
        </h1>
        <p class="comment-text lead">
            {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="font-white">sign up</a> first.{% endblocktrans %}
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    </div>
</div>
{% endblock content %}