{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="row bg-trans-white index-section font-white">
        <div class="col-lg-12 col-sm-1 mb-3 d-flex flex-column justify-content-lg-start justify-content-sm-center">
            <h2 class="font-brown mb-3 display-3 text-center">
                {% trans "Sign Out" %}
            </h2>
            <p class="font-brown lead mt-5">{% trans 'Are you sure you want to sign out?' %}</p>
            {% url 'account_logout' as action_url %}
            <form method="post" action="/accounts/logout/" class="d-flex flex-column justify-content-lg-start justify-content-sm-center">
            
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                        
                    <button type="submit" class="btn btn-secondary btn-brown m-5">Sign Out</button>       
                
            </form>
        </div>
    </div>
{% endblock content %}