{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="row bg-trans-white float-lg-start index-section font-white">
    <div class="col-lg-7">
        <h1 class="font-brown mb-5 display-3">
            {% trans "Password Reset" %}
        </h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="lead comment-text mt-5">
            "Forgotten your password? Send us an email at <em class="font-white">catbeanscafe@gmail.com</em>,<br> 
            and we'll send you your new temporary password!"
        </p>    
    </div>
</div>   
{% endblock content %}