{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block head_title %}

    {% trans "My Profile" %}

{% endblock head_title %}

{% block content %}

{% if user.is_authenticated %}

<div class="row bg-trans-white float-lg-start index-section font-white">
    <div class="col-lg-7 mb-3">
        <h1 class="font-brown mb-3 display-3">

            {% crispy form %}

        </h1>
    </div>
</div>

{% else %}

<p class="lead font-brown">You must be logged in to access your profile!</p>

{% endif %}

{% endblock %}