@import url('/static/css/style.css'); 

.brown-inputs input, .brown-inputs select {
    background-color: rgba(88, 59, 22, 0.205);
}

.comment-text {
    font-style: italic;
    color: rgb(99, 79, 55);
}