/* Font styles */

.font-brown {
    color: rgb(103, 56, 5);
}

.font-white {
    color: whitesmoke;
}

.emphasised {
    font-style: italic;
}

small {
    color: rgb(162, 149, 132);
}

/* Body & backgrounds */

body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: url('/static/images/website-images/cafe-main.png');
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
}

.bg-black {
    background-color: black;
}

.bg-brown {
    background-color: rgb(32, 24, 19);
}

.bg-trans-white {
    background-color: rgba(243, 216, 195, 0.5);
    backdrop-filter: blur(4px);
    width: fit-content;
}


a {
    text-decoration: none;
}

/* Buttons */

.btn-brown {
    background-color: rgba(74, 52, 38, 0.797);
    margin: auto;
    color: whitesmoke;    
    text-transform: uppercase;
    border: none;
}

.btn-brown:hover {
    background-color: rgba(90, 48, 4, 0.797);
    color: antiquewhite;
}

.btn-brown:focus {
    color: antiquewhite;
    background-color: rgba(90, 48, 4, 0.797);
}

.btn-brown:active {
    color: antiquewhite;
    background-color: rgba(90, 48, 4, 0.797);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.815);
}
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.847);
}

/* Navbar */

.nav-logo {
    width: 15%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='antiquewhite' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    border: 2px solid rgb(175, 165, 152);
}

/* Footer */

footer {
    bottom: 0!important;
    width: 100%;
    overflow-x: hidden;
}

.txt-footer {
    color: antiquewhite;
}

.social-links i {
    color:  rgba(74, 52, 38, 0.797);
    font-size: 2rem;
    margin: 0.9rem;
}

/* Media queries */

@media (max-width: 576px) {

    .justify-content-sm-center {
        justify-content: center!important;
    }

    .mx-sm-auto {
        margin-right: auto!important;
        margin-left: auto!important;
    }

    .logo-index {        
        min-width: 60vw;
        margin-bottom: 10%;
    }
}

@media (max-width: 768px) {

    .nav-logo {
        width: 45%;
    }

    .index-section >button {
        max-width: 50%;
    }

    .logo-index {        
        width: 60%;
        margin-bottom: 10%;
    }

    .social-links i {
        font-size: 3rem;
    }
}