{% extends "base.html" %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{%endblock%}

{% block content %}

<main class="container-fluid">
    <div class="row rounded d-flex justify-content-center">
        <div class="hero-image col-lg-7 rounded d-flex align-items-center justify-content-center">                
            <h3 class="display-6 jumbotron-fluid text-center font-white">Why not enjoy your coffee with some biscuits?</h3>
        </div>
    </div>
    <section class="row-fluid d-flex justify-content-center">
        <div class="col-lg-7 text-center">
            <h1 class="display-4 m-5 font-brown">About Us</h1>
            <p>
                Welcome to Cat Beans Café, the place for all coffee and cat lovers!<br>
                We're a small café with a big mission. Our team consists of friendly, 
                full of positive energy visionaires. Our combined passion to coffee, 
                baking and cats resulted in opening the door of Cat Beans Café in 2023.<br>
                We're working in co-operation with Cat and Dog Protection Association of 
                Ireland to help find new homes for our kitties while providing the best 
                cat café experience to our both human and feline friends.<br>
                You can be sure that visiting us is going to make you purrrfectly cosy!
            </p>
        </div>
    </section>
    <section class="row-fluid d-flex justify-content-center">
        <div class="card-group col-lg-8 card-style">
            <div class="card text-center shadow">
                <img src="{% static 'images/website-images/menu.jpg' %}" alt="Mug of coffee with cat-shaped foam" class="card-img-top">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2 class="display-6 font-brown">Our Menu</h2>
                    <div class="emphasised">
                        <p class="card-text">Gluten- free? Vegan? Cake lover?<br>
                            We've got you covered!<br>
                            Check out our menu without moving from the couch!
                        </p> 
                    </div>
                    <!-- Button triggering modal -->
                    <button type="button" class="btn btn-secondary btn-brown" data-bs-toggle="modal" data-bs-target="#menu">
                        See Our Menu
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade modal-no-margin" id="menu" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                            <div class="modal-content bg-trans-brown col modal-no-margin">
                                <div class="modal-header">
                                    <h3 class="display-6 font-brown" id="menuModalLabel">Our Menu</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{% static 'images/website-images/our-menu.jpg' %}" alt="Our Menu" class="img-fluid menu-pic">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-brown" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center shadow">
                <img src="{% static 'images/website-images/book-table.jpg' %}" alt="Cat sitting at the table" class="card-img-top">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2 class="display-6 font-brown">Book Now</h2>
                    <div class="emphasised">
                        <p class="card-text">Like to plan ahead?<br>
                            Make sure that there's always a table<br>
                            ready for your visit!
                        </p> 
                    </div>

                    <!-- Button redirecting to booking page -->
                    <a href="{% url 'booking' %}" class="d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-secondary btn-brown">
                            Book Now
                        </button>
                    </a>

                    
                </div>                
            </div>
            <div class="card text-center shadow">
                <img src="{% static 'images/website-images/our-cats.jpg' %}" alt="Cat lying on the floor" class="card-img-top">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2 class="display-6 font-brown">Our Cats</h2>
                    <div class="emphasised">
                        <p>Get familiar with our fluffy friends!</br>
                            Most of our cats are looking for their new forever homes.</br> 
                            In this gallery you may find your purrfect match!
                        </p>
                    </div>

                    <!-- Button triggering modal -->
                    <button type="button" class="btn btn-secondary btn-brown" data-bs-toggle="modal" data-bs-target="#cats">
                        See Our Cats
                    </button>

                    <!-- Modal -->
                    <div class="modal fade modal-no-margin" id="cats" tabindex="-1" aria-labelledby="catsModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                            <div class="modal-content bg-trans-brown col modal-no-margin">
                                <div class="modal-header">
                                    <h3 class="display-6 font-brown" id="catsModalLabel">Our Cats</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="font-white emphasised">Cats pictures will be here soon!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-brown" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>                        
            <div class="card text-center shadow">
                <img src="{% static 'images/website-images/contact-us.jpg' %}" alt="Door decoration with a cat on a roof" class="card-img-top">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h2 class="display-6 font-brown">Contact Us</h2>
                    <div class="emphasised">
                        <p>Having trouble finding us?</br>
                            Or maybe you just want to reach out to us?</br> 
                            If yes, then you can find our details here!
                        </p> 
                    </div> 

                    <!-- Button triggering modal -->
                    <button type="button" class="btn btn-secondary btn-brown" data-bs-toggle="modal" data-bs-target="#contact">
                        Contact Us
                    </button>

                    <!-- Modal -->
                    <div class="modal fade modal-no-margin" id="contact" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                            <div class="modal-content bg-trans-brown col modal-no-margin">
                                <div class="modal-header">
                                    <h3 class="display-6 font-brown" id="contactModalLabel">Find Us Here!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body font-white d-flex flex-column flex-lg-row justify-content-around">
                                    <div class="col-lg-6 col-sm-1 ">
                                        <h5 class="display-6">Address:</h5>
                                        <p class="emphasised">100 Rathgar Rd</p>
                                        <p class="emphasised">Dublin 6</p>
                                        <p class="emphasised">D06 EP49</p>
                                        <h5 class="display-6">Phone:</h5>
                                        <p class="emphasised">+353 20 916 1054</p>
                                        <h5 class="display-6">Email:</h5>
                                        <p class="emphasised">catbeanscafe@gmail.com</p>
                                    </div>
                                    <div class="col-lg-6 col-sm-1">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2383.716475352995!2d-6.2766141236692645!3d53.31252377725413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c07f9c1030d%3A0xb2c83a953c879002!2s100%20Rathgar%20Rd%2C%20Rathgar%2C%20Dublin%206%2C%20D06%20EP49!5e0!3m2!1sen!2sie!4v1701005428561!5m2!1sen!2sie" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-brown" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>            
        </div>
            
    </section>

</main>

{%endblock%}