{% extends "base.html" %}

{% load static %}

{% block content %}

<main class="container-fluid">
    <div class="row-fluid rounded d-flex justify-content-center">
        <div class="hero-image col-lg-10 rounded d-flex align-items-center justify-content-center">                
            <h1 class="display-6 jumbotron-fluid text-center">Why not enjoy your coffee with some biscuits?</h1>
        </div>
    </div>
    <section class="row-fluid">
        <div class="card-group">
            <div class="card">
                <h1 class="display-7">Menu</h1>
            </div>
            <div class="card">
                <h1 class="display-7">Cats</h1>
            </div>
            <div class="card">
                <h1 class="display-7">Contact</h1>
            </div>
        </div>
            
    </section>

</main>

{%endblock%}