{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="café, cat café, cats, coffee">
    <meta name="description" content="Coffee | Bakery | Cats">
    <!-- Google Fonts for better performance -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <!-- Linking Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Linking local CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cat Beans Café</title>
</head>
<body>

    <!-- Footer -->
    <footer class="fixed-bottom">
        <div class="container-fluid">
            <div class="row">              
                <div class="col-md-8 p-1 text-md-start text-sm-center">
                    <h6>Opening hours:</h6>
                    <div>
                        <span class="text-start">Mon - Fri</span>
                        <span class="text-end">8:00 - 17:00</span>
                    </div>
                    <div>
                        <span class="text-start">Sat</span>
                        <span class="text-end">9:00 - 16:00</span>
                    </div>
                    <div>
                        <span class="text-start">Sun</span>
                        <span class="text-start">CLOSED </span>
                    </div>
                </div>
                <div class="col-md-8 p-1 text-center">
                    <h6>Let's get social!</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" target="_blank" area-label="facebook"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" target="_blank" area-label="instagram"><i class="fa-brands fa-square-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" target="_blank" area-label="twitter"><i class="fa-brands fa-square-x-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 p-1 text-md-end text-sm-center">
                    <h6>Address:</h6>
                    <p>100 Rathgar Rd</p>
                    <p>Dublin 6</p>
                    <p>D06 EP49</p>
                </div> 
            </div>
        </div>
    </footer>
    <!-- Linking Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Linking Fontawesome icons -->
    <script src="https://kit.fontawesome.com/f5fb20c689.js" crossorigin="anonymous"></script>
</body>
</html>