{% extends "base.html" %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{%endblock%}

{% block content %}

    <section class="container-fluid">
        <div class="row bg-trans-white text-center float-md-start index-section">
            <div class="col d-grid">
                <img src="{% static 'images/website-images/cat-beans-cafe-logo.png' %}" width="200" alt="logo" area-label="logo" class="logo-index mx-sm-auto" >
                <div class="col vstack text-center">
                    <a href="{% url 'booking' %}" type="button" class="btn btn-secondary btn-brown btn-index btn-lg m-3">Book Now</button></a>
                    <a href="{% url 'about' %}" type="button" class="btn btn-secondary btn-brown btn-index btn-lg m-3">About Us</button></a>
                </div>
            </div>
        </div>
    </section>
    
{%endblock%}