{% extends "base.html" %}

{% load static %}

{% block content %}

    <section class="float-md-start float-sm-center">
        <div class="row bg-trans-black">
            <div class="col">
                <img src="static/images/website-images/cat-beans-cafe-logo.png" alt="logo" area-label="logo">
                <a href="#"><button class="float-center">Book Now</button></a>
                <a href="#"><button class="float-center">About Us</button></a>
            </div>
        </div>
    </section>

{%endblock%}