{% extends "base.html" %}

{% load static %}

{% block content %}

    <section class="container-fluid">
        <div class="row bg-trans-black text-center float-md-start index-section">
            <div class="col d-grid gap-1 ">
                <img src="static/images/website-images/cat-beans-cafe-logo.png" width="200" alt="logo" area-label="logo" class="logo-index" >
                <div class="col vstack text-center">
                    <a href="#"><button class="btn btn-secondary btn-brown btn-lg m-2" data-bs-toggle="button">Book Now</button></a>
                    <a href="#"><button class="btn btn-secondary btn-brown btn-lg m-2" data-bs-toggle="button">About Us</button></a>
                </div>
            </div>
        </div>
    </section>

{%endblock%}