{% extends "base.html" %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{%endblock%}

{% block content %}

    <section class="container-fluid">
        <div class="row rounded d-flex justify-content-center">
            <div class="hero-image col-lg-7 rounded d-flex align-items-center justify-content-center">
                <h3 class="display-6 jumbotron-fluid text-center font-white">Why not enjoy your coffee with some biscuits?</h3>
            </div>
        </div>

        {% if user.is_authenticated %}

            <div class="row-fluid d-flex justify-content-center">
                <div class="col-sm-12 col-lg-7 text-center">
                    <h1 class="display-4 m-5 text-capitalize font-brown">{{ user.username}}'s Profile</h1>
                    <p class="emphasised">Hello, {{ user.username}}! Thank you for signing in!</p>
                    <p class="emphasised">Here you can find and manage your profile details as well as your bookings!</p>
                </div>
            </div>
            <div class="row-fluid d-flex justify-content-center">
                <div class="col-sm-12 col-lg-7 text-center bg-gradient border-shadow rounded p-5 my-5">
                    <h2 class="display-5 m-5 font-brown">Your Details:</h2>
                    <ul class="list-unstyled">
                        <li class="row border-bottom">
                            <div class="col-md-6 lead">
                                <strong class="float-lg-start">First name: </strong>
                            </div>
                            <div class="col-md-6">
                               <em class="float-lg-end">{{user.userprofile.first_name}}</em> 
                            </div>
                        </li>
                        <li class="row border-bottom">
                            <div class="col-md-6 lead">
                                <strong class="float-lg-start">Last name: </strong>
                            </div> 
                            <div class="col-md-6">
                                <em class="float-lg-end">{{ user.userprofile.last_name}}</em>
                            </div>
                        </li>
                        <li class="row border-bottom">
                            <div class="col-md-6 lead">
                                <strong class="float-lg-start">Email: </strong>
                            </div> 
                            <div class="col-md-6">
                                <em class="float-lg-end">{{ user.userprofile.email }}</em>
                            </div>
                        </li>
                        <li class="row border-bottom">
                            <div class="col-md-6 lead">
                                <strong class=" float-lg-start">Phone number:</strong> 
                            </div>
                            <div class="col-md-6">
                                <em class="float-lg-end">{{ user.userprofile.phone_number }}</em>
                            </div>
                        </li>
                    </ul>
                    <div class="row d-flex justify-content-center">
                        <div class="row-sm-12 col-lg-3  m-4">
                            <a href="{% url 'editprofile' %}" aria-label="edit profile">
                                <button type="submit" class="btn btn-secondary btn-brown px-5">Edit</button>
                            </a>
                        </div>
                        <div class="row-sm-12 col-lg-3 m-4">
                            <!-- Button triggering confirmation modal -->
                            <button type="button" class="btn btn-danger px-5" data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
                            <!-- Modal -->
                            <div class="modal fade modal-no-margin" id="delete" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                                    <div class="modal-content bg-trans-brown col modal-no-margin">
                                        <div class="modal-header">
                                            <h2 class="display-4 m-5 font-brown" id="DelModalLabel">Confirm your choice!</h1>                                
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h2 class="display-4 m-5 font-white" id="DelModalLabel">Are you sure?</h2>
                                            <p class="font-white emphasised m-5">If you delete your account you will loose access to 
                                                <strong>both</strong> your profile <strong>and</strong> your bookings!
                                            </p>
                                            <div class="row d-flex justify-content-center">
                                                <a href="{% url 'deleteaccount' %}" class="col-lg-3">
                                                    <button type="button" class="btn btn-danger px-3 m-5">Yes, delete!</button>
                                                </a>
                                                <div class="col-lg-3">
                                                    <button type="button" class="btn btn-secondary btn-brown m-5" data-bs-dismiss="modal">No, cancel!</button>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Booking section -->
            <div class="row-fluid d-flex justify-content-center">
                <div class="col-sm-12 col-lg-7 text-center bg-gradient border-shadow rounded p-5 my-5">
                    <h2 class="display-5 m-5 font-brown">Your Bookings:</h2>

                    {% if booking_customer.id == userprofile.id %}
                        
                        {% if bookings %}
                            {% for booking in bookings %}

                                <ul class="list-unstyled">
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Booking Date: </strong>
                                        </div>
                                        <div class="col-md-6">
                                        <em class="float-lg-end">{{booking.booking_date}}</em> 
                                        </div>
                                    </li>
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Booking Time: </strong>
                                        </div> 
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{booking.booking_time}}</em>
                                        </div>
                                    </li>
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class="float-lg-start">Tables Booked: </strong>
                                        </div> 
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{ booking.table_size }}</em>
                                        </div>
                                    </li>                                
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class=" float-lg-start">Additional Info: </strong> 
                                        </div>
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{ booking.additional_info |striptags }}</em>
                                        </div>
                                    </li>
                                    <li class="row border-bottom">
                                        <div class="col-md-6 lead">
                                            <strong class=" float-lg-start">Confirmation status: </strong> 
                                        </div>
                                        <div class="col-md-6">
                                            <em class="float-lg-end">{{ booking.is_confirmed }}</em>
                                        </div>
                                    </li>
                                </ul>
                                <div class="row d-flex justify-content-center">
                                    <div class="row-sm-12 col-lg-3 m-4">
                                        <a href="{% url 'editbooking' booking.slug %}" aria-label="edit booking">
                                            <button type="button" class="btn btn-secondary btn-brown px-5">Edit</button>
                                        </a>
                                    </div>
                                    <div class="row-sm-12 col-lg-3 m-4">
                                        <!-- Button triggering confirmation modal -->
                                        <button type="button" class="btn btn-danger px-5" data-bs-toggle="modal" data-bs-target="#deletebooking">Delete</button>
                                        <!-- Modal -->
                                        <div class="modal fade modal-no-margin" id="deletebooking" tabindex="-1" aria-labelledby="DeleteBookingModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen modal-no-margin">
                                                <div class="modal-content bg-trans-brown col modal-no-margin">
                                                    <div class="modal-header">
                                                        <h2 class="display-4 m-5 font-brown" id="DelBookingModalLabel">Confirm your choice!</h1>                                
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <h2 class="display-4 m-5 font-white" id="DelBookingModalLabel">Are you sure?</h2>
                                                        <p class="font-white emphasised m-5">
                                                            By clicking "Yes, delete" you will cancel this booking and loose your reservation!<br>
                                                            Would you still like to proceed?
                                                        </p>
                                                        <div class="row d-flex justify-content-center">
                                                            <a href="{% url 'deletebooking' booking.slug %}" class="col-lg-3">
                                                                <button type="button" class="btn btn-danger px-3 m-5">Yes, delete!</button>
                                                            </a>
                                                            <div class="col-lg-3">
                                                                <button type="button" class="btn btn-secondary btn-brown m-5" data-bs-dismiss="modal">No, keep it!</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <hr class="border-shadow">
                            
                            {% endfor %}
                            <div class="row d-flex justify-content-center">
                                <a href="{% url 'booking' %}" class="col-lg-4">
                                    <button type="button" class="btn btn-secondary px-3 uppercase m-5">New booking</button>
                                </a>
                            </div>
                
                        {% else %}

                        <p class="lead emphasised font-brown">You have no bookings yet.</p>
                        <p class="lead emphasised font-brown">
                            <a href="{% url 'booking' %}" class="font-brown text-decoration-underline"><strong>Click here</strong></a> 
                            to make your reservation.</p>

                    {% endif %}

                </div>
            </div>

            {% else %}

                <div class="row-fluid d-flex justify-content-center">
                    <div class="col-lg-7 text-center">
                        <h1 class="display-4 m-5">Please Log in</h1>
                        <p>
                            To access this page you need to <a href="{% url 'account_login' %}" aria-label="Log in">log in</a> first.
                        </p>
                        <p>If you don't have an account yet please <a href="{% url 'signup' %}" aria-label="Sign up">sign up</a>!</p>
                    </div>
                </div>

            {% endif %}

        {% endif %}

    </section>

{%endblock%}